.card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;

  .card {
    max-width: 400px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .card-img-top {
      width: 100%;
      height: auto;
    }

    .card-body {
      padding: 15px;

      .card-text {
        font-size: 14px;
        color: #333;
        white-space: pre-line;
        text-align: center;
      }

    }
  }
}

.top-button {
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 20px;

  &:hover {
    background-color: #0056b3;
  }

  &:active {
    transform: scale(0.95);
  }
}
