<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>
        </div>
        <form (ngSubmit)="login()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">UserName<span class="text-danger"> *</span></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              name="username" [(ngModel)]="username" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password<span class="text-danger"> *</span></label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password"
              [(ngModel)]="password" required>
          </div>

          <div class="alert alert-danger" role="alert" *ngIf="showAlert">
            Please enter both email and password.
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!username || !password"
            (click)="validateForm()">Login</button>
        </form>
        <br>

        <p class="text-center">
          
          New user? <a class="no-underline" routerLink="/register">Register here</a>
        </p>
        
      </div>
    </div>
  </div>
</div>
