<div class="dashboard-container">
  <div class="side-navbar">
    <ul>
      <ul>
        <ul class="navigation-list">
          <li><a routerLink="/dashboard"><img src="assets/home .png" alt="Home" class="small-icon"> Home</a></li>
          <li><a routerLink="/employee-details"><img src="assets/user-avatar .png" alt="Employee Details" class="small-icon"> Employee Details</a></li>
          <li><a routerLink="/calender"><img src="assets/calendar.png" alt="Calendar" class="small-icon"> Calendar</a></li>
          <li><a routerLink="/about"><img src="assets/About.png" alt="about" class="small-icon"> About</a></li>
          <li><a routerLink="/logout"><img src="assets/power-off.png" alt="logout" class="small-icon" (click)="openLogoutDialog()"> Logout</a></li>
        </ul>
      </ul>
    </ul>
  </div>
  <div class="main-content">
    <div class="row col-sm-8">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="card card-lg">
          <div class="card-body">
            <h5 class="card-title">Time</h5>
            <p class="card-text large-text" [innerHTML]="currentTime"></p>
          </div>
        </div>
      </div>

    </div>
  