

html{
    background-color:white;
}
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

 body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-dialog-container {
    width: 500px; /* Set the desired width */
    height: 300px; /* Set the desired height */
  }