// styles.scss

.dashboard-container {
  display: flex;
  height: 100vh;

  .side-navbar {
    width: 250px;
    background-color: #f1f1f1;
    padding: 20px;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          text-decoration: none;
          color: black;
        }
      }
      
    }

  }

  .main-content {
    flex: 1;
    padding: 20px;

    .large-text {
      font-size: 24px;
      font-weight: bold;
      margin-left: 4rem;
    }

    .card {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: 0.3s;

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
    }

    .card-lg {
      width: 350px;
      height: 250px;

    }
  }


}
.navigation-list {
  list-style: none;
  padding: 0; // Remove default padding
  margin: 0; // Remove default margin

  li {
    margin-bottom: 20px; // Adjust this value to control the gap between list items
  }
  .small-icon {
    width: 20px;
    height: 20px;
  }
    .main-content {
      flex: 1;
      padding: 20px;
    }
      .large-text {
        font-size: 24px;
        font-weight: bold;
        margin-left: 4rem;
        
      }
    }