<div class="container">
    <div class="card">
      <div class="card-body">
        <h1>Employee Data</h1>
        <div>
          <p><strong>Full Name:</strong> {{ submittedData.inputName }}</p>
          <p><strong>Personal Email:</strong> {{ submittedData.inputEmail3 }}</p>
          <p><strong>Date of Birth:</strong> {{ submittedData.inputDate }}</p>
          <p><strong>Gender:</strong> {{ submittedData.gridRadios }}</p>
          <p><strong>Father Name:</strong> {{ submittedData.inputFatherName }}</p>
          <p><strong>Mobile Number:</strong> {{ submittedData.inputMobile3 }}</p>
          <p><strong>Department:</strong> {{ submittedData.inputDepartment3}}</p>
          <p><strong>Blood group:</strong> {{ submittedData.inputBloodgroup3 }}</p>
          <p><strong>Address:</strong> {{ submittedData.inputAddress3 }}</p>
        </div>
      </div>
    </div>
  </div>
  